@tailwind base;
@tailwind components;
@tailwind utilities;

/* Checklist Styling */
.prose ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}

.prose ul[data-type="taskList"] p {
  margin: 0;
}

.prose ul[data-type="taskList"] li {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.prose ul[data-type="taskList"] li > div {
  flex: 1 1 auto;
}

.prose ul[data-type="taskList"] li[data-checked="true"] > div > p {
  text-decoration: line-through;
  color: #888;
}
